body {
  background: linear-gradient(135deg, #0f2a1c, #2f5f41, #a9b48b);
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 72px;
  text-align: center;
}

p, h2 {
  text-align: center;
  font-size: 20px;
}
